#bird{
    background: url("x.webp");
    background-size: contain;
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;
    margin-top: 150px;
    margin-left: 150px;
}
#home{
    background: url("../Images/Background.jpg");
    background-size: contain;
    background-size: cover;
}
#start{
    position: absolute;
    left: 45%;
    top: 5%;
    color: white;
    font-size: 1.75em;
    font-family: cursive;
    background: linear-gradient(90deg, violet, indigo, blue, green, yellow, orange, red, violet);
    background-size: 400%;
    cursor: pointer;
    animation: backgroundColor 10s linear infinite;
}
#instruction{
    position: absolute;
    left: 41%;
    margin-top: 7%;
    color: white;
    font-size: 1.75em;
    font-family: cursive;
    position: relative;
    background: linear-gradient(90deg, violet, indigo, blue, green, yellow, orange, red, violet);
    background-size: 400%;
    cursor: pointer;
    animation: backgroundColor 10s linear infinite reverse;
}
@keyframes backgroundColor{
    from{background-position: 0%;}
    to{background-position: 400%;}
}