*{
    border: 0;
    margin: 0;
    padding: 0;
}
/*Bird Launcher*/
#slingshot{
    background: url("../Images/Slingshot.png");
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    width: 50px;
    height: 100px;
    left: 200px;
    bottom: 75px;
}
[id*="bird"]{
    background: url("../Images/Bird.png");
    background-size: cover;
    position: absolute;
    top: 575px;
    left: 200px;
    z-index: 1;
    height: 50px;
    width: 50px;
    cursor: crosshair;
}

/*Home Page*/
#home{
    background: url("../Images/Background.jpg");
    background-size: contain;
    background-size: cover;
}
#enter{
    text-align: center;
    background: black;
    font-size: 5em;
    background: linear-gradient(90deg, yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Instructions Page*/
.instruction{
    user-select:none;
    background: linear-gradient(90deg, blue, black);
}
#heading{
    margin-top: 3%;
    text-align: center;
    background: blue;
    background: linear-gradient(90deg, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ins{
    margin-top: 10%;
    border:.5vw black double;
    border-radius:100px;
    text-align:center;
    background-color: white;
    box-shadow:0 10 10px #121212,0 0 20px #121212;
}
.list{
    margin: 50px auto 50px 15%;
    text-align: left;
    font-family: Helvetica Nue;
    font-size: 1.35em;
    word-spacing: 3px;
    line-height: 35px;
    list-style: disc;
}

/*Level*/
#background{
    background: url("../Images/Lvl%20Background.png");
    background-size: cover;
    overflow: hidden;
}
[id*="brick"]{
    right: 150px;
    background-image: url(../Images/Block.jpg);
    background-size: contain;
    background-size: cover;
    float: bottom;
    position: absolute;
    border: 2px solid black;
    width: 100px;
    height: 45px;
}
#brick1{
    bottom: 75px;   
}
#brick2{
    bottom: 120px;
}
#brick3{
    bottom: 165px;
}
#brick4{
    bottom: 210px;
}
#brick5{
    bottom: 255px;
}
#brick6{
    bottom: 300px;
}
#brick7{
    bottom: 345px;
}
#brick8{
    bottom: 390px;
}
#brick9{
    bottom: 435px;
}