#bird{
    background: url("x.webp");
    background-size: contain;
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;
    margin-top: 150px;
    margin-left: 150px;
}