
* {
    margin :0;
    padding:0;
    box-sizing:border-box;
    outline:none;
}

.wrapper {
    position:absolute;
    display:flex;
    flex-direction: column ;
    align-items:center;
    justify-content:center;
    top :0;
    left:0;
    width :100%;
    height:100%;
    background-color:#212121;
}

.loader {
    position:relative;
    display:flex;
    justify-content:space-between;
    padding-top:30px;
    width :154px;
    height:90px;
    animation:breath 1.2s infinite alternate
              ease-in-out;
}

.loader .box {
    position:relative;
    flex:0 0 30px;
    width :30px;
    height:30px;
    background-color: #f44336 ;
}

.loader .box:nth-child(1){
    position:absolute;
    top :-1px;
    left:0;
    animation: b1 5s infinite forwards;
}

.loader .box:nth-child(2){
    animation: b2 5s infinite forwards;
}

.loader .box:nth-child(3){
    animation: b3 5s infinite forwards;
}

.loader .box:nth-child(4){
    animation: b4 5s infinite forwards;
}

.loader .box:nth-child(5){
    animation: b5 5s infinite forwards;
}

.loader .box:nth-child(6){
    animation: b6 5s infinite forwards;
}

@keyframes b1{
    0%{
        transform: translate(0,0);
    }
    6%{
        transform: translate(0,31px);
    }
    100%{
        transform: translate(0,31px);
    }
}

@keyframes b2{
    0%{
        transform: translate(0,0);
    }
    6%{
        transform: translate(0,31px);
    }
    6.25%{
        transform: translate(0,31px);
    }
    12.25%{
        transform: translate(31px,31px);
    }
    12.50%{
        transform: translate(31px,31px);
    }
    18.50%{
        transform: translate(31px,0px);
    }
    18.75%{
        transform: translate(31px,0px);
    }
    87.50% {
        transform: translate(31px,0px);
    }
    93.50%{
        transform: translate(31px,-31px);
    }
    93.75% {
        transform: translate(31px,-31px);
    }
    99.75%{
        transform: translate(0px,-31px);
    }
    100%{
        transform: translate(0px,-31px);
    }
}


@keyframes b3{
    0%{
        transform: translate(0,0);
    }
    12.50%{
        transform: translate(0px,0px);
    }
    18.50%{
        transform: translate(0px,-31px);
    }
    18.75%{
        transform: translate(0px,-31px);
    }
    24.75%{
        transform: translate(31px,-31px);
    }
    25%{
        transform: translate(31px,-31px);
    }
    31%{
        transform: translate(31px,0px);
    }
    31.25%{
        transform: translate(31px,0px);
    }
    75% {
        transform: translate(31px,0px);
    }
    81%{
        transform: translate(31px,31px);
    }
    81.25% {
        transform: translate(31px,31px);
    }
    87.25%{
        transform: translate(0px,31px);
    }
    87.50% {
        transform: translate(0px,31px);
    }
    93.50%{
        transform: translate(0px,0px);
    }
    93.75% {
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,0px);
    }
}

@keyframes b4{
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(0px,0px);
    }
    31%{
        transform: translate(0px,31px);
    }
    31.25%{
        transform: translate(0px,31px);
    }
    37.25%{
        transform: translate(31px,31px);
    }
    37.50%{
        transform: translate(31px,31px);
    }
    43.50%{
        transform: translate(31px,0px);
    }
    43.75%{
        transform: translate(31px,0px);
    }
    62.50%{
        transform: translate(31px,0px);
    }
    68.50%{
        transform: translate(31px,-31px);
    }
    68.75%{
        transform: translate(31px,-31px);
    }
    74.75%{
        transform: translate(0px,-31px);
    }
    75% {
        transform: translate(0px,-31px);
    }
    81%{
        transform: translate(0px,0px);
    }
    81.25% {
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,0px);
    }
}

@keyframes b5{
    0%{
        transform: translate(0,0);
    }
    37.50%{
        transform: translate(0,0);
    }
    43.50%{
        transform: translate(0px,-31px);
    }
    43.75%{
        transform: translate(0px,-31px);
    }
    49.75%{
        transform: translate(31px,-31px);
    }
    50%{
        transform: translate(31px,-31px);
    }
    56%{
        transform: translate(31px,0px);
    }
    56.25%{
        transform: translate(31px,0px);
    }
    100%{
        transform: translate(31px,0px);
    }
}

@keyframes b6{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,0);
    }
    56%{
        transform: translate(0px,31px);
    }
    56.25%{
        transform: translate(0px,31px);
    }
    62.25%{
        transform: translate(-31px,31px);
    }
    62.50%{
        transform: translate(-31px,31px);
    }
    68.50%{
        transform: translate(-31px,0px);
    }
    68.75%{
        transform: translate(-31px,0px);
    }
    100%{
        transform: translate(-31px,0px);
    }
}

.tag {
    display:flex;
    justify-content:space-between;
    width :154px;
    height:40px;
    color:#fff;
    margin-top:20px;
    font-size:20px;
}

@keyframes breath{
    0%{
        transform:scale(1);
    }
    15%{
        transform:scale(1);
    }
    92%{
        transform:scale(1.08);
    }
    100%{
        transform: scale(1.08);
    }
}

